<phpunit
  bootstrap="vendor/autoload.php"
  colors="true"
  >
  <php>
    <env name='SUGARCRM_PATH' value="../sugarcrm"/>
    <env name='SUGARCRM_CURRENT_USER_ID' value="1"/>

    <!-- E_ALL & ~E_STRICT = 30719 -->
    <ini name="error_reporting" value="30719"/>
  </php>
  <testsuites>
    <!-- unit tests on EntryPoint must run first because it can be instantiated only once -->
    <testsuite name="EntryPoint">
        <file>tests/EntryPointTest.php</file>
    </testsuite>
    <testsuite name="Inet">
        <directory>tests</directory>
    </testsuite>
  </testsuites>
 <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
